.news .message.hublr-description {
  display: block;
}

.news .hublr-meta {
  float: right;
  color: #bbb;
  font-size: 12px;
  line-height: 20px;
}

.news .hublr-meta span {
}

.news .hublr-meta .octicon {
  margin-left: 2px;
  font-size: 100%;
}
