.news .message.hublr-description {
  display: block;
}

.news .hublr-meta {
  float: right;
  color: #bbb;
  font-size: 12px;
  line-height: 20px;
}

.news .hublr-meta .octicon {
  margin-left: 2px;
  font-size: 100%;
}

.hublr-footer-links li {
  padding-right: 10px;
  list-style-type: none;
  display: inline;
  float: left;
}

.hublr-footer p {
  clear: both;
  padding: 1em 0;
}
